
/* Loader */
#the-loader {
    border-width: 4px !important;
    transition: all 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
}
body:has(#app.loading) #the-loader {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 100000px;
}
#the-loader .loader {
    border-width: 4px !important;
    width: 100px;
}
#loader-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
}

/* Content */
.content {
    height: 100vh;
    width: 100%;
    padding: 20px;
    overflow: scroll;
    position: relative;
}


/* APP */
#app {
    max-width: 500px;
    width: 100vw;
    height: 100vh;
    overflow: hidden !important;
    background: url("./img/hp-bg.png");
    /* background-color: #0a0e00; */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: all .5s cubic-bezier(0.68, 0, 0.265, 1.1);
    position: relative;
}
#app.loading {
    height: 0px !important;
    width: 0px !important;
    border-radius: 100000px;
}
#app.loading * div{
    display: none;
}

/* Tree */
#tree {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, calc(-100% + 20px));
    width: 80%;
    max-width: 500px;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#app.loading #tree {
    overflow: hidden;
    height: 40px !important;
    width: 40px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#tree img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Navbar */
nav {
    position: sticky;
    bottom: 0;
    left: 0;
    padding: 5px;
}
#nav-box {
    background: linear-gradient(45deg, #154f20, #189466);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
}

/* Login */
#login {display: none;}
#app.login #login {display: block;}
#login-shape {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -2px);
    width: calc(100% - 40px);
    height: calc(100vh - 20px);
    background: linear-gradient(0deg, rgba(255,255,255, .6), rgba(255,255,255, 0));
    border-right: .5px solid #fff;
    border-radius: 0 0 20px 20px;
    transition: all .8s ease-out;
}
#dlhp-logo {
    margin: 0 auto;
    width: 30%;
    max-width: 250px;
    display: block;
}
#login-text {
    z-index: 100000;
    width: 300px;
}


/* Dashboard */
#dashboard {display: none;}
#app.dashboard #dashboard {display: block;
}
#app.dashboard #tree {
    transform: translate(-10%, calc(-100% + 20px));
    width: 100% !important;
}
#dash-headerx {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
    direction: rtl;
}
.dash-userphoto i {
    aspect-ratio: 1;
    width: 80px;
    border: 1.3px solid lightgray;
    border-radius: 1000000px;
    background: rgba(255,255,255, .4);
}
.notif-group {
    border: 2px solid white;
    background-color: rgba(255,255,255, .25);
    border-radius: 10px;
}
.notif-group span {
    background-color: rgba(255,255,255, .7);
    padding: 10px;
    border-radius: 7px 7px 0 0 ;
    text-transform: uppercase;
}
#buruh-date-header span{
    border: 1.3px solid lightgray;
    padding: 6px 0;
    border-radius: 10px;
    background: #155324 !important;
    color: white !important;
}
#buruh-date-header i {
    height: 100%;
    background: #155324 !important;
    color: white;
    display: block;
    width: 45px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 10px;
    border: 1.3px solid lightgray;
}
#calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
#calendar-days span {
    background-color: rgba(255,255,255, .25);
    border: 1.3px solid lightgray;
    text-align: center;
    padding: 7px 0;
    border-radius: 10px;
    font-size: 14px;
}
#calendar-date {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.date-box {
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 10px;
    font-weight: bolder;
    border: 1.3px solid lightgray;
    background-color: rgba(255,255,255, .25);
}
#data-list {background-color: rgba(255,255,255, .25);}
#data-list span {
    width: 100%;
    padding: 10px;
    display: block;
    border-bottom: 1.3px dashed rgba(255,255,255, .25);
    margin-bottom: 10px;
    font-weight: bold;
}
#data-date {
    color: white;
    background-color: #155324;
}
#sudah-absen-list {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
}
.buruh-group {
    background-color: rgba(255,255,255, .7);
    padding: 4px;
    border-radius: 10px;
    border: 2px solid lightgray;
    margin-bottom: 10px;
    width: 100%;
    height: fit-content;
}
.buruh-group i.fa-clipboard-user {
    background-color: ;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 5px;
    font-size: 20px;
}
.buruh-img {
    width: 100%;
    position: relative;
    background-color: rgba(0,0,0, .15);
    border-radius: 7px 7px 5px 5px;
}
.buruh-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.buruh-img i {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: rgba(255,255,255, .25) !important;
    font-size: 35px;
    position: relative;
}
.buruh-img i::after {
    content: attr(data-text) "";
    font-size: 12px;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    text-align: center;

}
.buruh-short h4 {
    padding: 0;
    padding-bottom: 3px;
    border-bottom: 1.2px solid grey !important;
    width: 100% !important;
    display: block;
    margin: 0;
}
.buruh-hari {
    border: 2px solid white !important;
    width: 20px;
    aspect-ratio: 1;
}