

.content {
    min-height: 100vh;
    height: 100%;
}


#main {
    height: 100vh;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
    max-width: 402px;
    width: 100%;
    margin: auto;
}
#main-content {
    background: url("img/hp-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    transition: all 0.5s ease;
}

#the-loader {
    border-width: 4px !important;
    width: 100px;
    height: 100px;
    transition: all 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#the-loader .loader {
    border-width: 4px !important;
    width: 100px;
    transition: all 5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#main #the-tree {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 30px;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: .2s;
}
#the-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}



/* loader OFF */
#main:not(.off) #main-content {
    max-width: 400px !important;
    width: 100%;
    height: 100vh;
    border-radius: 0;
}
#main:not(.off) #the-loader {
    z-index: -100;
}
#main:not(.off) #the-tree {
    transform: translate(-50%,0);
    left: 50%;
    bottom: -10px;
    width: 100%;
    max-width: 300px;
}


/* LOGIN */
/* login content */
img#upper-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(-101%);
    transition: transform 1s ease;
}
img#lower-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(101%);
    transition: transform 1s ease;
}
#login-content-top {
    position: absolute;
    top: 0;
    transform: translateY(-110%);
    opacity: 0;
    transition: opacity 1s ease;
    transition-delay: 2s;
    width: 100%;
    z-index: 1000;
}
#login-content-top #logo-dlhp {
    width: clamp(100px, 40%, 250px);
    margin: auto;
    display: block;
}
#login-content-bottom {
    position: absolute;
    bottom: 2px;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    transition-delay: 2s;
    transform: translateY(101%);
    font-size: 10px;
    z-index: 100;
}
/* login transition */
#main.login #the-tree {
    width: 55%;
    max-width: 300px;
    bottom: 165px;
    z-index: 100;
}
#main.login #the-content img#upper-shape {
    transform: translateY(0);
}
#main.login #the-content img#lower-shape {
    transform: translateY(0);
    z-index: 100;
}
#main.login #login-content-top {
    transform: translateY(0);
    opacity: 1;
}
#main.login #login-content-bottom {
    opacity: 1;
    transform: translateY(0);
}


/* DASHBOARD */
#main.dashboard #the-tree {
    width: 100%;
    max-width: 300px;
    bottom: -10px;
    opacity: 1;
    transition: all 3s;
}
#dashboard {
    transform: translateX(-102%);
    transition: all .5s ease;
    overflow: scroll;
    height: 100vh;
}
#dash-head, #dash-notif, #dash-main {
    opacity: 0;
    transition: all 1s ease;
}
#dash-head {
    transition-delay: 1s;
}
#dash-notif {
    transition-delay: 1.4s;
}
#dash-main {
    transition-delay: 1.8s;
}
.order-group {
    background: linear-gradient(135deg, #eee, rgba(255, 255, 255, 0.3));
    border-radius: 5px;
    margin-bottom: 10px;
    border-right: 2px solid #eee !important;
    border-bottom: 2px solid #eee !important;
    padding: 10px;
}
.order-group span {
    font-size: 16px;
    margin-bottom: 5px;
    padding: 7px;
    width: 100% !important;
    display: block;
    border-radius: 3px;
}
.notif-group {
    background: linear-gradient(135deg, #eee, rgba(255, 255, 255, 0.3));
    border-radius: 5px;
    margin-bottom: 10px;
    border-right: 2px solid #eee !important;
    border-bottom: 2px solid #eee !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    gap: 6px;
    padding: 7px 10px;
    color: white;
}
.notif-group p {
    font-size: 14px;
    padding: 0;
    margin: 0;
    width: calc(100% - 40px);
    text-align: justify;
}
.notif-group i {
    height: 25px !important;
    width: 25px !important;
    font-size: 13px;
    text-align: center;
    padding-top: 6.5px;
    border-radius: 3px;
}
#dash-filter div:nth-child(1) span:nth-child(1), #dash-filter div:nth-child(1) span:nth-child(2) {
    padding: 7px 12px;
    border-radius: 3px;
    margin-right: 10px;
    border-right: 1px solid #ffffff !important;
    border-bottom: 1px solid #ffffff !important;
    background: linear-gradient(45deg, white, rgba(255, 255, 255, 0.6));
}
#dash-filter div:nth-child(2) span:nth-child(1), #dash-filter div:nth-child(2) span:nth-child(2), #dash-filter div:nth-child(2) span:nth-child(3), #dash-filter div:nth-child(2) span:nth-child(4){
    height: 30px !important;
    width: 30px !important;
    display: block;
    border-radius: 4px;
    padding-top: 5px;
    text-align: center;
    border-right: 1.3px solid #ffffff !important;
    border-bottom: 1.3px solid #ffffff !important;
}
#buruh-search {
    padding: 10px 15px 7px;
}
.daftar-buruh {
    background: linear-gradient(45deg, white, rgba(255, 255, 255, 0.3));
    border-right: 1.3px solid #ffffff !important;
    border-bottom: 1.3px solid #ffffff !important;
    border-radius: 4px;
}
.buruh-group {
    background: linear-gradient(135deg, #fff, rgba(255, 255, 255, 0.7));
    border-radius: 5px;
    margin-bottom: 10px;
    border-right: 2px solid #eee !important;
    border-bottom: 2px solid #eee !important;
    padding: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 90px auto;
}
.buruh-group .buruh-left {
    width: 90px !important;
    height: 90px !important;
    overflow: hidden;
    position: relative;
}
.buruh-group .buruh-left img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.buruh-right {
    padding-top: 5px;
}
.buruh-name {
    height: 20px;
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    transform: translateY(0);
    transition: all .6s ease-in-out;
}
.buruh-date {
    padding: 10px 0;
    opacity: .7;
}
.buruh-date span {
    height: 25px !important;
    width: 25px !important;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    margin-right: 5px;
    border-right: 1px solid #ffffff !important;
    border-bottom: 1px solid #ffffff !important;
    font-size: 12px;
    padding-top: 5px;
}
.buruh-hover-1 {
    transform: translateY(0);
    transition: all .5s ease;
}
.buruh-group:hover .buruh-hover-1 {
    transform: translateY(100px);
}
.buruh-hover-2 {
    margin-top: 10px;
    transition: all .5s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateX(300px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 25px;

}
.buruh-hover-2 button {
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px 10px;
    font-weight: bold;
}
.buruh-group:hover .buruh-hover-2 {
    transform: translateX(0);
}
#main.dashboard #dashboard {
    transform: translate(0, 0);
    opacity: 1;
}
#main.dashboard #dash-head, #main.dashboard #dash-notif, #main.dashboard #dash-main {
    opacity: 1;
}


/* Form Absensi */
#main.form #the-tree {
    width: 100%;
    max-width: 300px;
    bottom: -10px;
    transition: all 3s;
}
#form-absen {
    transform: translateX(102%);
    width: 100%;
    transition: all .5s ease;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
#main.form #form-absen {
    transform: translateX(0);
}
#capture-box {
    outline-offset: 2px;
    border-radius: 10px;
}
#capture-media {
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 10px;
    outline: 3px solid white;
    overflow: hidden;
}
#capture-media span {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
}
#capture-control {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    transform: translateY(-50%);
}
#capture-control i {
    border: 2px solid white !important;
    border-radius: 1000px;
    width: 45px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
}
#capture-control i.fa-image {
    scale: 1.3;
}
.form-group {
    border-radius: 5px;
    background: linear-gradient(45deg, white, rgba(255, 255, 255, 0.7));
    display: grid;
    grid-template-columns: 34px 3px auto;
    align-items: center;
    gap: 3px;
    outline: 3px solid white;
    color: #555;
}
#lokasi-select, 
#lokasi-input {
    -webkit-appearance: none; /* Untuk browser berbasis Webkit (Chrome, Safari) */
    -moz-appearance: none;    /* Untuk browser berbasis Mozilla (Firefox) */
    appearance: none;         /* Standar W3C */
    border-radius: 5px;
    outline: none;
    width: 100% !important;
    padding: 10px;
    border: none;
    color: #555;
    background-color: transparent;
    margin: 0;
}
#lokasi-kerja-manual i {
    border-radius: 1000px;
    height: 20px;
    width: 20px;
    display: grid;
    place-items: center;
    color: #555;
    background-color: lightgray;
    transform: translate(calc(-50% - 2px), calc(50% + 2px));
    position: absolute;
    left: 100%;
    bottom: 100%;
}
#form-keterangan {
    background: linear-gradient(45deg, white, rgba(255,255,255, .7));
    border: none;
    outline: 3px solid white;
    outline-offset: 0px;
    color: #555;
}
#form-submit {
    outline: 3px solid white !important;
}




/* Detail Buruh */

#main.detail #the-tree {
    width: 100%;
    max-width: 300px;
    bottom: -10px;
    transition: all 3s;
}

#detail-buruh {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-101%);
    transition: all .5s ease;
}
#main.detail #detail-buruh {
    transform: translateY(0);
}
#detail-header {
    display: grid;
    grid-template-columns: 60px 5px auto;
    grid-template-rows: 60px;
    align-content: center;
    color: #555;
}
.data-head {
    color: #555;
    padding: 0 10px;
}
.data-hari {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
.data-hari span {
    text-align: center;
    border-bottom: 2px double #999;
    padding-bottom: 3px;
}
.data-pertama, .data-kedua {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 10px;
    gap: 5px;
}
.data-group span {
    text-align: center;
    height: 30px;
    width: 30px;
    border: 2px solid white !important;
    text-align: center;
    padding-top: 6px;
    align-self: center;
    margin: auto;
    border-radius: 4px;
    color: white;
    font-weight: bolder;
    font-size: 12px;
}