
#app {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: calc(100vh - 0px) !important;
    overflow: hidden;
    position: relative;
    background: url("./img/hp-bg.png");
    background-position: center;
    background-size: cover;
}

#main-bg {
    height: 100vh;
    width: 100%;
}
#main-bg img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#tree {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 300px;
    z-index: 1000;
}
#tree img {
    object-fit: 100%;
    height: 100%;
    width: 100%;
}

#the-loader {
    border-width: 4px !important;
    transition: all 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000000000000000000000000;
}
#the-loader .loader {
    border-width: 4px !important;
    width: 100px;
    transition: all 5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#loader-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 10000px;
    border: 3px solid #fff;
}
#loader-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}




#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
    width: 100%;
    padding: 0px;
    height: 100vh;
}

#login-shape {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -2px);
    width: calc(100% - 40px);
    height: calc(100vh - 20px);
    background: linear-gradient(0deg, rgba(255,255,255, .6), rgba(255,255,255, 0));
    border: 1px solid #fff;
    border-radius: 0 0 20px 20px;
}
#dlhp-logo {
    margin: 0 auto;
    width: 30%;
    max-width: 250px;
    display: block;
}
#login-text {
    z-index: 100000;
    width: 300px;
}