
/* Loader */
#the-loader {
    border-width: 4px !important;
    transition: all 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
}
body:has(#app.loading) #the-loader {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 100000px;
}
#the-loader .loader {
    border-width: 4px !important;
    width: 100px;
}
#loader-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
}

/* Content */
.content {
    height: 100vh;
    width: 100%;
    padding: 20px;
    overflow: scroll;
    position: relative;
}


/* APP */
#app {
    max-width: 500px;
    width: 100vw;
    height: 100vh;
    overflow: hidden !important;
    background: url("./img/hp-bg.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: all .5s cubic-bezier(0.68, 0, 0.265, 1.1);
    position: relative;
}
#app.loading {
    height: 0px !important;
    width: 0px !important;
    border-radius: 100000px;
}
#app.loading * {
    display: none !important;
}

/* Tree */
#tree {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, calc(-100% + 20px));
    width: 80%;
    max-width: 500px;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#app.loading #tree {
    overflow: hidden;
    height: 40px !important;
    width: 40px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#tree img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


/* Login */
#login {display: none;}
#app.login #login {display: block;}
#login-shape {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -2px);
    width: calc(100% - 40px);
    height: calc(100vh - 20px);
    background: linear-gradient(0deg, rgba(255,255,255, .6), rgba(255,255,255, 0));
    border-right: .5px solid #fff;
    border-radius: 0 0 20px 20px;
    transition: all .8s ease-out;
}
#dlhp-logo {
    margin: 0 auto;
    width: 30%;
    max-width: 250px;
    display: block;
}
#login-text {
    z-index: 100000;
    width: 300px;
}


/* Dashboard */
#dashboard {display: none;}
#app.dashboard #dashboard {display: block;
}
#app.dashboard #tree {
    transform: translate(-10%, calc(-100% + 20px));
    width: 100% !important;
}
.dash-userphoto i {
    aspect-ratio: 1;
    width: 80px;
    border: 3px solid white;
    border-radius: 1000000px;
    background: rgba(255,255,255, .4);
}
.notif-group {
    border: 2px solid white;
    background: rgba(255,255,255, .4);
    border-radius: 10px;
}
.buruh-img {
    width: 60px;
    aspect-ratio: 1;
    background-color: rgba(0,0,0, .2);
}
.buruh-group {
    background: linear-gradient(45deg, white, rgba(255,255,255, .5));
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.buruh-short h4 {
    padding: 0;
    padding-bottom: 3px;
    border-bottom: 1.2px solid grey !important;
    width: 100% !important;
    display: block;
    margin: 0;
}
.buruh-hari {
    border: 2px solid white !important;
    width: 20px;
    aspect-ratio: 1;
}